.ant-btn {
  box-shadow: 0 2px 2px 0 #137e7e;
  border-radius: 5px;
  color: white;
  height: 35px;
  border: none;
  background-size: 400% 100%;

  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: linear-gradient(40deg, #194b4a 0,#137e7e 70%,#007f7f 100%);
}

.ant-btn:focus {
  outline: none;
}

// Default button when doing hover
.ant-btn:hover, .ant-float-btn-body:hover {
  background-position: 100% 0%;
  box-shadow: 0 2px 7px 0 #007f7f;
  color: white !important;
  border: 0px solid transparent;
  
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

// Danger Button
.ant-btn-dangerous {
  box-shadow: 0 2px 2px 0 rgb(214, 6, 86) !important;
  background: linear-gradient(45deg,rgb(214, 6, 86) 50%, rgb(255, 0, 0) 100%);
  background-size: 400% 100%;
}

// Danger Button when doing hover
.ant-btn-dangerous:hover {
  box-shadow: 0 2px 7px 0 rgba(255, 0, 0);
}